body {
  align-items: center;
  background-color: rgb(8, 8, 80);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  margin: 50px;
}

label, input {
  display: block;
  width: 100%;
}

label {
  color: white;
  margin-top: 20px;
}

input {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
}

.klever-logo {
  height: 75px;
  width: 300px;
}

.shooting-star {
  fill: yellow;
  height: 50px;
  width: 50px;
}

.wish-wallet {
  align-items: center;
  display: flex;
}

.wish-wallet-title {
  color: white;
  margin-left: 10px;
}

.container {
  margin: 20px;
  width: 500px;
}

.home-container-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.add-token-btn {
  background-color: rgb(168, 12, 168);
}

.add-token-form, .edit-token-form {
  margin-left: 5%;
  margin-top: 30px;
}

.add-form-top, .edit-form-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.add-title, .edit-title {
  color: white;
  margin-left: 10px;
}

.back-btn {
  background-color: grey;
  height: 35px;
  padding: 0;
  width: 100px;
}

.add-form-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.save-btn {
  height: 35px;
  padding: 0;
  width: 100px;
}

.error-message {
  color: red;
}

.table-line {
  display: flex;
  justify-content: space-between;
}

.tokens-field-title, .balance-field-title, .token-info {
  color: white;
}

.tokens-field-title {
  margin-left: 42px;
}

.table-line-start {
  align-items: center;
  display: flex;
}

.edit-btn {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  height: 20px;
  margin-right: 10px;
  width: 32px;
}

.edit-icon {
  fill: white;
  height: 20px;
  width: 20px;
}

.edit-form-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.remove-btn {
  background-color: rgba(255, 0, 0, 0.774);
  border: none;
  height: 35px;
  padding: 0;
  width: 100px;
}

.cancel-button {
  order: 1;
}

.confirm-button {
  order: 2;
}
